%h1 GlobalChat2 Server Maker

%p Paypal 5 dollars and the robot will create you a room, public or private

%p After creating the room you can restart the server at any time with new settings

%p Supported local and distributed modes

%p Also download non-standard versions from here

%p Also, ServerDropper will manage Nexus security by testing protocol connections