#layer_8_03
{
        background-image: url("layer_8_03.png");
        position: absolute;
        top: 0px;
        left: 0px;
        width: 1200px;
        height: 851px;
        z-index: 2;
}

 #layer_10_03
{
        background-image: url("layer_10_03.png");
        position: absolute;
        top: 66px;
        left: 566px;
        width: 508px;
        height: 355px;
        z-index: 22;
}

 #hand_03
{
        background-image: url("hand_03.png");
        position: absolute;
        top: 325px;
        left: 726px;
        width: 257px;
        height: 96px;
        z-index: 23;
}

 #layer_9_03
{
        background-image: url("layer_9_03.png");
        position: absolute;
        top: 306px;
        left: 108px;
        width: 245px;
        height: 67px;
        z-index: 28;
}

 #layer_9_03
{
        background-image: url("layer_9_03.png");
        position: absolute;
        top: 306px;
        left: 331px;
        width: 245px;
        height: 67px;
        z-index: 32;
}

 #layer_9_2_03
{
        background-image: url("layer_9_2_03.png");
        position: absolute;
        top: 304px;
        left: 491px;
        width: 245px;
        height: 67px;
        z-index: 36;
}

 #shape_1_03
{
        background-image: url("shape_1_03.png");
        position: absolute;
        top: -1px;
        left: -18px;
        width: 1228px;
        height: 71px;
        z-index: 3;
}

 #squares_03
{
        background-image: url("squares_03.png");
        position: absolute;
        top: 17px;
        left: 113px;
        width: 36px;
        height: 37px;
        z-index: 10;
}

 #globalchat2_03
{
        background-image: url("globalchat2_03.png");
        position: absolute;
        top: 21px;
        left: 154px;
        width: 130px;
        height: 18px;
        z-index: 11;
}

 #beat_irc_in_pure_ruby_03
{
        background-image: url("beat_irc_in_pure_ruby_03.png");
        position: absolute;
        top: 44px;
        left: 154px;
        width: 101px;
        height: 12px;
        z-index: 12;
}

 #shape_8_03
{
        background-image: url("shape_8_03.png");
        position: absolute;
        top: 24px;
        left: 384px;
        width: 76px;
        height: 32px;
        z-index: 13;
}

 #home_03
{
        background-image: url("home_03.png");
        position: absolute;
        top: 33px;
        left: 398px;
        width: 44px;
        height: 13px;
        z-index: 15;
}

 #shape_7_03
{
        background-image: url("shape_7_03.png");
        position: absolute;
        top: 23px;
        left: 891px;
        width: 178px;
        height: 33px;
        z-index: 14;
}

 #search_03
{
        background-image: url("search_03.png");
        position: absolute;
        top: 36px;
        left: 911px;
        width: 40px;
        height: 10px;
        z-index: 18;
}

 #search_03
{
        background-image: url("search_03.png");
        position: absolute;
        top: 34px;
        left: 1045px;
        width: 11px;
        height: 11px;
        z-index: 20;
}

 #apps_03
{
        background-image: url("apps_03.png");
        position: absolute;
        top: 33px;
        left: 506px;
        width: 37px;
        height: 17px;
        z-index: 16;
}

 #purchase_03
{
        background-image: url("purchase_03.png");
        position: absolute;
        top: 33px;
        left: 766px;
        width: 70px;
        height: 13px;
        z-index: 17;
}

 #protocol_03
{
        background-image: url("protocol_03.png");
        position: absolute;
        top: 33px;
        left: 624px;
        width: 67px;
        height: 13px;
        z-index: 19;
}

 #shape_1_03
{
        background-image: url("shape_1_03.png");
        position: absolute;
        top: 67px;
        left: -18px;
        width: 1228px;
        height: 272px;
        z-index: 4;
}

 #the_world_s_1_most_popular_chat_client_03
{
        background-image: url("the_world_s_1_most_popular_chat_client_03.png");
        position: absolute;
        top: 134px;
        left: 117px;
        width: 417px;
        height: 23px;
        z-index: 21;
}

 #globalchat_keeps_friends_and_relatives_connected_and_is_easy_to_03
{
        background-image: url("globalchat_keeps_friends_and_relatives_connected_and_is_easy_to_03.png");
        position: absolute;
        top: 177px;
        left: 118px;
        width: 484px;
        height: 67px;
        z-index: 24;
}

 #shape_1_4_03
{
        background-image: url("shape_1_4_03.png");
        position: absolute;
        top: 773px;
        left: -18px;
        width: 1228px;
        height: 242px;
        z-index: 5;
}

 #copyright_globalchat2_2012_03
{
        background-image: url("copyright_globalchat2_2012_03.png");
        position: absolute;
        top: 803px;
        left: 127px;
        width: 185px;
        height: 11px;
        z-index: 58;
}

 #terms_conditions_privacy_03
{
        background-image: url("terms_conditions_privacy_03.png");
        position: absolute;
        top: 803px;
        left: 880px;
        width: 178px;
        height: 12px;
        z-index: 59;
}

 #layer_15_03
{
        background-image: url("layer_15_03.png");
        position: absolute;
        top: 803px;
        left: 111px;
        width: 11px;
        height: 9px;
        z-index: 60;
}

 #shape_1_3_03
{
        background-image: url("shape_1_3_03.png");
        position: absolute;
        top: 417px;
        left: -18px;
        width: 1228px;
        height: 378px;
        z-index: 6;
}

 #get_rss_03
{
        background-image: url("get_rss_03.png");
        position: absolute;
        top: 470px;
        left: 982px;
        width: 38px;
        height: 11px;
        z-index: 8;
}

 #layer_17_03
{
        background-image: url("layer_17_03.png");
        position: absolute;
        top: 466px;
        left: 960px;
        width: 21px;
        height: 28px;
        z-index: 9;
}

 #shape_10_2_03
{
        background-image: url("shape_10_2_03.png");
        position: absolute;
        top: 445px;
        left: 438px;
        width: 318px;
        height: 129px;
        z-index: 38;
}

 #buffer_replay_remembers_last_30_messages_multline_pasting_pin_03
{
        background-image: url("buffer_replay_remembers_last_30_messages_multline_pasting_pin_03.png");
        position: absolute;
        top: 498px;
        left: 460px;
        width: 243px;
        height: 65px;
        z-index: 39;
}

 #benefits_03
{
        background-image: url("benefits_03.png");
        position: absolute;
        top: 461px;
        left: 461px;
        width: 86px;
        height: 18px;
        z-index: 40;
}

 #shape_10_3_03
{
        background-image: url("shape_10_3_03.png");
        position: absolute;
        top: 588px;
        left: 438px;
        width: 318px;
        height: 158px;
        z-index: 42;
}

 #ircchat_teams_globalchat2_channel_globe_server_list_scrollback_03
{
        background-image: url("ircchat_teams_globalchat2_channel_globe_server_list_scrollback_03.png");
        position: absolute;
        top: 645px;
        left: 460px;
        width: 267px;
        height: 56px;
        z-index: 41;
}

 #tag_cloud_03
{
        background-image: url("tag_cloud_03.png");
        position: absolute;
        top: 610px;
        left: 459px;
        width: 103px;
        height: 23px;
        z-index: 43;
}

 #shape_10_03
{
        background-image: url("shape_10_03.png");
        position: absolute;
        top: 445px;
        left: 107px;
        width: 318px;
        height: 298px;
        z-index: 44;
}

 #copy
{
        background-image: url("copy.png");
        position: absolute;
        top: 670px;
        left: 350px;
        width: 57px;
        height: 55px;
        z-index: 45;
}

 #copy
{
        background-image: url("copy.png");
        position: absolute;
        top: 458px;
        left: 123px;
        width: 57px;
        height: 55px;
        z-index: 46;
}

 #founded_to_research_advanced_lost_chat_technologies_which_have_03
{
        background-image: url("founded_to_research_advanced_lost_chat_technologies_which_have_03.png");
        position: absolute;
        top: 583px;
        left: 134px;
        width: 276px;
        height: 137px;
        z-index: 47;
}

 #layer_12_03
{
        background-image: url("layer_12_03.png");
        position: absolute;
        top: 492px;
        left: 131px;
        width: 277px;
        height: 79px;
        z-index: 48;
}

 #about_us_03
{
        background-image: url("about_us_03.png");
        position: absolute;
        top: 462px;
        left: 133px;
        width: 92px;
        height: 18px;
        z-index: 49;
}

 #shape_11_03
{
        background-image: url("shape_11_03.png");
        position: absolute;
        top: 581px;
        left: 776px;
        width: 298px;
        height: 1px;
        z-index: 50;
}

 #watch_some_cool_videos_on_youtube_03
{
        background-image: url("watch_some_cool_videos_on_youtube_03.png");
        position: absolute;
        top: 503px;
        left: 885px;
        width: 152px;
        height: 29px;
        z-index: 51;
}

 #image_03
{
        background-image: url("image_03.png");
        position: absolute;
        top: 501px;
        left: 778px;
        width: 93px;
        height: 47px;
        z-index: 52;
}

 #layer_14_03
{
        background-image: url("layer_14_03.png");
        position: absolute;
        top: 505px;
        left: 796px;
        width: 62px;
        height: 42px;
        z-index: 53;
}

 #tweet_your_entire_family_03
{
        background-image: url("tweet_your_entire_family_03.png");
        position: absolute;
        top: 607px;
        left: 885px;
        width: 137px;
        height: 11px;
        z-index: 54;
}

 #image_03
{
        background-image: url("image_03.png");
        position: absolute;
        top: 601px;
        left: 778px;
        width: 93px;
        height: 52px;
        z-index: 55;
}

 #layer_13_03
{
        background-image: url("layer_13_03.png");
        position: absolute;
        top: 610px;
        left: 808px;
        width: 32px;
        height: 35px;
        z-index: 56;
}

 #what_can_i_do_03
{
        background-image: url("what_can_i_do_03.png");
        position: absolute;
        top: 462px;
        left: 777px;
        width: 157px;
        height: 18px;
        z-index: 57;
}

 #shape_12_03
{
        background-image: url("shape_12_03.png");
        position: absolute;
        top: 338px;
        left: -18px;
        width: 1228px;
        height: 83px;
        z-index: 7;
}

 #layer_1_3_03
{
        background-image: url("layer_1_3_03.png");
        position: absolute;
        top: 378px;
        left: 103px;
        width: 88px;
        height: 27px;
        z-index: 26;
}

 #shape_9_03
{
        background-image: url("shape_9_03.png");
        position: absolute;
        top: 356px;
        left: 154px;
        width: 152px;
        height: 44px;
        z-index: 27;
}

 #preview_03
{
        background-image: url("preview_03.png");
        position: absolute;
        top: 372px;
        left: 204px;
        width: 85px;
        height: 20px;
        z-index: 29;
}

 #layer_10_03
{
        background-image: url("layer_10_03.png");
        position: absolute;
        top: 354px;
        left: 112px;
        width: 93px;
        height: 62px;
        z-index: 30;
}

 #layer_1_2_03
{
        background-image: url("layer_1_2_03.png");
        position: absolute;
        top: 392px;
        left: 116px;
        width: 86px;
        height: 21px;
        z-index: 25;
}

 #shape_9_03
{
        background-image: url("shape_9_03.png");
        position: absolute;
        top: 356px;
        left: 377px;
        width: 112px;
        height: 44px;
        z-index: 31;
}

 #adopt_03
{
        background-image: url("adopt_03.png");
        position: absolute;
        top: 372px;
        left: 427px;
        width: 56px;
        height: 20px;
        z-index: 33;
}

 #calendar_03
{
        background-image: url("calendar_03.png");
        position: absolute;
        top: 343px;
        left: 345px;
        width: 77px;
        height: 75px;
        z-index: 34;
}

 #shape_9_2_03
{
        background-image: url("shape_9_2_03.png");
        position: absolute;
        top: 359px;
        left: 537px;
        width: 109px;
        height: 39px;
        z-index: 35;
}

 #download_03
{
        background-image: url("download_03.png");
        position: absolute;
        top: 373px;
        left: 552px;
        width: 79px;
        height: 17px;
        z-index: 37;
}

